body{
    background-color: rgb(136, 15, 15);
    margin: auto;
}
#heady{
    color: rgb(255, 255, 255);
    background-color: rgb(27, 77, 143);
    text-align: center;
    width: 50%;
    margin: auto;
}
#inst{
    color: rgb(255, 255, 255);
    background-color: rgb(27, 77, 143);
    text-align: center;
    width: 50%;
    margin: auto;    
}
p{
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: center;
    margin: auto;
}
button{
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(27, 77, 143);
    border-radius: 20%;
    text-align: center;
    margin: auto; 
}
img{
    margin: auto;
}
table, th, tr, td{
    color: aqua;
    border: 1px solid;
    text-align: center;
    margin: auto;
}